<div class="jumbotron">
  <h1>Hello!</h1>
  <p>My name is ProductsGrid and here you can add your own products and look at other!</p>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-success btn-lg" %>
</div>
